<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324489124688-e7utjd55l96lsjc324oif3tjv6kl1rlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324489124688-e7utjd55l96lsjc324oif3tjv6kl1rlv</string>
	<key>API_KEY</key>
	<string>AIzaSyCGB4gdLZNcIaPiDsF2RJp3NZHKvnyDXW0</string>
	<key>GCM_SENDER_ID</key>
	<string>324489124688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Arbook</string>
	<key>PROJECT_ID</key>
	<string>arbook-2e8ac</string>
	<key>STORAGE_BUCKET</key>
	<string>arbook-2e8ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324489124688:ios:15384c7b2767917fcc6a55</string>
	<key>DATABASE_URL</key>
	<string>https://arbook-2e8ac.firebaseio.com</string>
</dict>
</plist>